<div class="row justify-content-around">
<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name) do %><br/>
    <button class="ativo_white">Log in</button>
  <% end %>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name) do %><br />
    <button class="ativo_white">Sign up</button>
  <% end %>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to new_password_path(resource_name) do %><br />
      <button class="ativo_white">Forgot your password?</button>
  <% end %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to new_confirmation_path(resource_name) do %><br />
    <button class="ativo_white">Didn't receive confirmation instructions?</button>
  <% end %>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to ew_unlock_path(resource_name) do %><br />
    <button class="ativo_white">Didn't receive unlock instructions?</button>
  <% end %>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) do %><br />
      <button class="ativo_white">Sign in with</button>
    <% end %>
  <% end %>
<% end %>
