<div class="row justify-content-center">
  <div class="col-md-4">
    <p class="row justify-content-center h1_title">Editar Pet</p>
      <%= simple_form_for [@pet] do |f| %>
        <div class="row justify-content-center">
          <%= f.submit "Update", class: 'ativo_white' %>
        </div>
        <div class="h3_text">
          <%= f.input :owner, label: 'Nome do Dono' %>
          <%= f.input :name, label: 'Nome do Pet' %>
          <%= f.input :race, label: 'Raça' %>
          <%= f.label :care, label: 'Cuidados' %>
          <%= f.select(:care, options_for_select([['Entrada', 'Entrada'], ['Aguardando', 'Aguardando'], ['Banho', 'Banho'], ['Limpo', 'Limpo']]), { include_blank: true }) %>
        </div>
      <% end %>
  </div>
</div>
