
<div class="row justify-content-center">
  <div class="col-md-6">
    <h1><%= @pet.name %></h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Dono</th>
          <td><%= @pet.owner %></td>
        </tr>
        <tr>
          <th scope="row">Nome</th>
          <td><%= @pet.name %></td>
        </tr>
        <tr>
          <th scope="row">Raça</th>
          <td><%= @pet.race %></td>
        </tr>
        <tr>
          <th scope="row">Cuidados</th>
          <td><%= @pet.care %></td>
        </tr>
      </tbody>
        <%= link_to root_path do %>
          <div class="btn_ativo_white"> Home
          </div>
        <% end %>

        <%= link_to pets_path(@pet) do %>
          <div class="btn btn-warning btn-sm"> Todos os Pets <i class="fas fa-edit"></i>
          </div>
        <% end %>

        <%= link_to edit_pet_path(@pet) do %>
          <div class="btn btn-warning btn-sm"> Edit Pet <i class="fas fa-edit"></i>
          </div>
        <% end %>

        <%= link_to pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" } do %>
          <div class="btn btn-danger btn-sm"> Remover Pet <i class="fas fa-trash"></i>
          </div>
        <% end %>
    </table>
  </div>
</div>

