
<div class="row justify-content-center">
  <div class="col-md-6">
    <p class="h1_title row justify-content-center"><%= @pet.name %></p>
      <table class="row justify-content-center">
          <tr class="h2_text">
            <th>Dono</th>
            <th>Nome</th>
            <th>Raça</th>
            <th>Cuidados</th>
          </tr>
          <tr class="h3_text">
            <td><%= @pet.owner %></td>
            <td><%= @pet.name %></td>
            <td><%= @pet.race %></td>
            <td><%= @pet.care %></td>
          </tr>
      </table>
          <p></p>
        <div class="row justify-content-sm-around">
          <%= link_to root_path do %>
            <button class="ativo_white">Home</button>
          <% end %>

          <%= link_to pets_path(@pet) do %>
            <button class="ativo_white">Todos os Pets</button>
          <% end %>
        </div>
        <p></p>
        <div class="row justify-content-center justify-content-sm-around">

          <%= link_to edit_pet_path(@pet) do %>
            <button class="ativo_white">Edit Pet</button>
          <% end %>

          <%= link_to pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" } do %>
            <button class="ativo_white">Remover Pet</button>
          <% end %>
        </div>
  </div>
</div>

